/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; /* Color of the handle */
    border-radius: 6px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
  }
  